<%- include("partials/header") %>

<br />

<div class="content" >
    <h2 class="title is-1">Journal Testing App</h2>
    <p> <%= homeContent %> </p>
</div>

<br />
<br />

<% for (post of homePosts) { %>
    <div class="content">
        <h4 class="title is-4">
            <%- '<a href="/post/'+ post.title +'">'+post.title+'</a>' %>
        </h4>
        <p> <%= post.content %> </p>
        <div class = "post-footer">
            <p class="help" >By <%= post.by+" "+post.time %> </p>
        </div>
    </div>
    <br />
<% } %>

<%- include("partials/footer") %>