<%- include("partials/header") %>

<br />

<div class="content" >
    <h2 class="title is-1">Journal Testing App</h2>
    <p> <%= homeContent %> </p>
</div>

<br />
<br />

<% for (post of homePosts) { %>
    <h4 class="title is-4">
        <%- '<a href="/post/'+ post.title +'">'+post.title+'</a>' %>
    </h4>
    <div class="content message is-dark">
        <p class = "message-body"> <%= post.content %> </p>
        <div class = "post-footer">
            <p class="message-header help" >By <%= post.by+" "+post.time %> </p>
        </div>
    </div>
<% } %>

<%- include("partials/footer") %>