<%- include("partials/header") %>

<h2 class="title is-2"> <%= postTitle %> </h2>
<div class="content message is-dark">
    <p class = "message-body"> <%= postContent %> </p>
    <div class = "post-footer">
        <p class="message-header help" >By <%= postBy+" "+postTime %> </p>
    </div>
</div>

<%- include("partials/footer") %>