<%- include("partials/header") %>

<h2 class="title is-2"> <%= postTitle %> </h2>
<div class="content message is-dark">
    <p class = "message-body"> <%= postContent %> </p>
    <div class = "post-footer">
        <p class="message-header help" >By <%= postBy+". "+postTime %> </p>
    </div>
</div>

<% if (createdBy === session) { %>
    <form action = '<%= "/post/delete/" + id %>' method = "post" class = "delete-button">
        <input type = "text" class = "secret" name = "secret" value = "<%= token %>" />
        <button type = "submit" class="button is-primary is-right">
            Delete
        </button>
    </form>
<% } %>

<%- include("partials/footer") %>